body{
    background-color: bisque;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 500px;
    height: 500px;  
    background-color: white;
}

.slider {
    -webkit-appearance: none;
    width: 400px;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }